/* Header*/
body{
  background-color: #FFFAF0;
}
.test_01{
  font-size: 5px;
}
.jumbotron{
  padding: 1px;
  margin-top: 23px;
  margin-bottom: 2rem;
  text-align: center;
  background-color: transparent;
}
h2{
  font-size: 20px;
  background-color: transparent;
}



.panel{
  text-align: center;
}
.panel-heading{
  background-color: lightblue;
}

.panel-body{
  background: #DCDCDC;
}
h2.panel-info{
  background-color: transparent;
}

 li{
  list-style-type: none;
}
