/* Header*/
body{
  background-color:tan ;
  background-image: "img/Seattle_00.jpg";
  background-repeat: ;
  background-attachment: ;
}
.test_01{
  font-size: 5px;
}




.jumbotron{

  padding: 1px;
  margin-top: 23px;
  margin-bottom: 2rem;
  color: #982424;
  text-align: center;

  background-color: transparent;
}

h2{
  font-size: 20px;
  background-color: transparent;
}


.second_row{
  padding-top:106px;
}

.third_row {
padding-top: 141px;

}
.panel{
  text-align: center;
}

.panel panel-info{
  margin-bottom: 83px;
}
.panel-heading{
  background-color: lightblue;
}

img {
  width: 340px;
  height: 250px;

}

h2.panel-info{
  background-color: transparent;
}

 li{
  list-style-type: none;
}
